{% spaceless %}
<div class="form-group form-inline saup-group" id="{{ widget.name }}">
    <input type="{{ widget.type }}" size="3"
           class="form-control korean-left"
           name="{{ widget.name }}"{% if widget.value != None %}
           value="{{ widget.value.0|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
    <div class="form-control"> - </div>
    <input type="{{ widget.type }}" size="2"
           class="form-control korean-middle"
           name="{{ widget.name }}"{% if widget.value != None %}
           value="{{ widget.value.1|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
    <div class="form-control"> - </div>
    <input type="{{ widget.type }}" size="5"
           class="form-control korean-right"
           name="{{ widget.name }}"{% if widget.value != None %}
           value="{{ widget.value.2|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
</div>
{% endspaceless %}